@import "../../App.scss";
.skillCard {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  background: transparent;
  padding: 10px 20px;
  svg {
    padding: 3px;
    transition: color 0.2s ease;
  }
  span {
    font-size: 20px;
    font-weight: 500;
  }
  &:hover {
    color: $primary;
    box-shadow: 0 0 5px rgba(128, 0, 255, 0.6);
    background: rgba($muted, 0.2);
  }
}
#skills {
  padding-top: 80px;
}
.skills {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    h4 {
      @include sub;
    }
    h3 {
      @include hero-header;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__main {
    display: grid;
    width: 65%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 70px;
    @media (max-width: $medium) {
      width: 80%;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
    > * {
      padding: 20px;
      /* background: rgba($active, 0.5); */
      background: rgba(#10121a, 0.2);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
      border-radius: 15px;
    }
    h5 {
      padding: 10px 0;
      @include sub(20px);
    }
    ul {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}
