@use "@/App.scss" as *;
.link:hover {
  cursor: pointer;
  transition: all ease 0.3s;
  color: $primary;
}
.link * {
  flex: 1;
  text-align: center;
}
.selected-page {
  & {
    @media (min-width: 900px) {
      color: $primary;
    }
  }
}
