@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$primary: #8b5cf6;
$bg: #050815;

$text-main: #c9d1d9;
$text-sub: #aaa6c3;
$button-color: #6d28d9;
$active: #3b2e57;

$xs: 480px;
$small: 640px;
$medium: 768px;
$large: 1024px;
$xl: 1280px;

$muted: #6b7280;
$font-main: "Poppins", sans-serif;

@mixin hero-header() {
  font-size: 80px;
  font-weight: 900;

  @media (max-width: $xl) {
    font-size: 60px;
  }
  @media (max-width: $large) {
    font-size: 45px;
  }
}

@mixin sub($size: 30px) {
  font-size: $size;
  font-weight: 300;
  color: $text-sub;
  text-transform: uppercase;

  @media (max-width: $xl) {
    font-size: 26px;
  }
  @media (max-width: $large) {
    font-size: 20px;
  }
  @media (max-width: $small) {
    font-size: 16px;
  }
}

@mixin section-header() {
  font-size: 60px;
  font-weight: 900;

  @media (max-width: $xl) {
    font-size: 50px;
  }
  @media (max-width: $large) {
    font-size: 40px;
  }
  @media (max-width: $medium) {
    font-size: 30px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: $font-main;
}

* {
  margin: 0;
}

html {
  color-scheme: dark;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  hanging-punctuation: first last;
  scroll-behavior: smooth;
}

body {
  background: $bg;
  color: $text-main;
  line-height: 1.6;
  min-height: 100dvh;
  font-weight: 400;
  font-size: clamp(14px, 1.6vw, 16px);
}

img {
  display: block;
  max-width: 100%;
}
